img{
    width: 200px;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    display: flex;
}

li{
    display: inline;
}

input{
    margin-left: 5px;
}

button{
    margin: 10px;
}

.buttons{
    position: absolute;
    bottom: 0px;
}

.box{
    display: flex;
    margin: 5px;
}

.img{
    justify-content:space-around;
}

.parrent{
    margin: 5px;
}

.desc{
    display: flex;
    margin: 10px;
}

.info{
    margin-right: 30px;
}

.books{
    display: flex;
    flex-wrap: wrap;
    justify-content:baseline;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 0px;
    margin: 30px 30px 30px 30px;
    width: 250px;
    height: 450px;
}

.card:hover{
    box-shadow: 0px 0px 8px 1px gray;
}

.disable{
    display: none;
}

.container{
    justify-content:space-around;
}

.name{
    font-weight: bolder;
}
