<h2>Books</h2>
    <a routerLink="add">
        <button class="btn btn-outline-warning button">Add</button>
    </a >
<div class="books">
    <div *ngFor="let book of BOOKS;">
        <div class="cards">
            <div class="card">
                <div class="container" [routerLink]="[book.id]">
                    <div class="img">
                        <img [src]=book.img alt="">
                    </div>
                    <div class="desc">
                        <div class="info">
                            <h2 class="price">{{book.price}} ₽</h2>
                            <p class="name">{{book.name}} </p>
                            <p class="author">{{book.author}} </p>
                            <p class="year">{{book.yearIssue}} </p>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" 
                        class="button btn btn-outline-danger" 
                        (click)="onDelete(book.id)">
                        Delete
                    </button> 
                    <button type="button" 
                        class="button btn btn-outline-success" 
                        (click)="onBuy(book)">
                        Buy
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>
<button type="button" (click)="showTable()" class="btn btn-outline-info">Table books</button>
<app-book-table [class.disable]="tableIsShow == false"></app-book-table>
