@media (max-width: 800px){
    .disable{
        display: none;
    }

    .mini{
        margin-left: 50px;
    }
}

@media (min-width: 801px){

    .box{
        margin-left: 150px;
    }
}

.img{
    max-width: 200px;
}

.mycard{
    display: flex;
}

.button{
    margin-bottom: auto;
    margin-left: 0;
}

.card{
    margin-top: 10px;
}